@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap');


* {
margin: 0 ;
padding: 0;
font-family: 'Roboto', sans-serif;
}

.container-detail{
  background-color: #242B42;
  width:100% ;
}



.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color:#1D2537;
}

.screen{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background:#252B42;
  background-size: cover;
  background-repeat: no-repeat;
}


.nav-section{
width: 5%;
height: 90%;
display: flex;
margin-left: 2%;
justify-content: center;
align-items: center;
padding-left: 4px;
z-index: 10;
}

.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b2137;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  text-decoration-style: none;
}

.navbar .logo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  text-Decoration: none ;
  transition: all 0.7s ease-out
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}
.img{
  transition: all 0.5s ease-in-out
}

 .logo h6 {
  width: 100%;
  height: auto;
  padding: 0px 5px;
  padding-bottom: 5px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #B5BFE4;
  text-decoration: none;
  transform: scale(0);
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease-in-out
}
.navbar .logo:hover {
background-color: #242B42;
height: 60px;
transition: all 0.3s ease-in-out
}
.navbar .logo:hover .img {
  transform: scale(0.8);
  filter: brightness(1.2);
 }
.navbar .logo:hover h6 {
  transform: scale(1);
  overflow: visible;

 }
 .navbar .logo:focus h6 {
  transform: scale(1);
  overflow: visible;
  height: 60px;
 }
.navbar a:focus  .logo {
  color: #B5BFE4;
  background-color: #242B42;
  border-radius: 15px;
  height: 60px;
 }
 .navbar a:focus  .logo h6 {
  transform: scale(1);
  overflow: visible;

 }

.content-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px;
  width: 100%;
  height: 90%;
  /* background:url('resources/Loties/vid1.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
}

.section-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10%;
}

.title-back{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 5px 5px;
}
.title-back .logo-back{
  display: flex;
  padding: 5px 5px;
  width :45px ;
  height: 45px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s ease
}
.MuiToggleButton-primary{
  font-size: 13px;
  color: #b7c3eb;
}
.col{
  font-size: 13px;
  color: #b7c3eb;
}

.title-back .logo-back:hover {
  color: #b7c3eb;
  background-color: #b5bfe417;
  border-radius: 17px ;
 }
 
 .title-back .logo-back:hover svg > path {
   stroke: #B5BFE4;
   filter: brightness(1.2)
 }
 .title-back .logo-back svg > path {
  box-shadow:
  3.4px 3.4px 8.1px rgba(0, 0, 0, 0.07),
  11.4px 11.4px 27.3px rgba(0, 0, 0, 0.042),
  51px 51px 122px rgba(0, 0, 0, 0.028);

}

.title-back .group-tilte{
  font-size: 25px;
  font-weight: 600;
  margin: 0px 15px;
  color: #B1B9D8;
}

.end{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 0px 10%;
  align-items: center;
}
.show{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 2px 2px;
  background-color:#1A2036 ;
  border-radius: 12px;
}

.show .dis-col{
  display: flex;
  margin: 4px 4px;
  padding: 3px 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s ease
}

.show .dis-col:hover {
  color: #b7c3eb;
  background-color: #b5bfe417;
  border-radius: 7px ;
 }
 
 .show .dis-col:hover svg > path {
   stroke: #B5BFE4;
   filter: brightness(1.2)
 }
 
 .show a:focus  .dis-col {

  background-color: #242B42;
  border-radius: 6px;
 }

.show  a:focus .dis-col svg > path {
  stroke: #B5BFE4;
  filter: brightness(1.2)
}

.content-group{
display: flex;
flex-direction: column;
justify-content:flex-start;
border-radius: 50px;
padding: 10px 10px;
margin-top: 10px;
align-items: center;
height: 100%;
width:95%;
overflow-y: scroll;
overflow-x:hidden;
}

.content-contacts{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 25px;
  padding: 1px 10px;
  height: 100%;
  width:95%;
  overflow-y: scroll;
  overflow-x:hidden;
  }

  .formation-field{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width:100%;
    background:#252B42;
    z-index: 30;
    overflow-y: hidden;

    }

 .formation-list{
    width: 30%;
    padding: 5px 10px;
        overflow-y: scroll;
  }
.formation-details{
    width: 60%;
    height: 100vh;
    transition: all 0.5s ease-in;
    display: flex;
    flex-direction: column;
  }
  
  .formation-field-list{
    display: flex;
    flex-direction: column;
    margin: 10px 1px;
    padding: 10px 15px;
    z-index: 20;
    width: 90%;
    border-bottom:2px solid #6a6f81;
    transition: all 0.2s ease-in-out ;
    background-color: #1A2036;

        cursor: pointer;
    transform: scale(1);
  }

  .formation-field-list:hover{
    transform: scale(0.96);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15), 
    0 2px 2px rgba(0, 0, 0, 0.048), 
    0 4px 4px rgba(0, 0, 0, 0.041), 
    0 8px 8px rgba(0, 0, 0, 0.055);
  }
.all-formation{
  height: 100vh;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.update-formation{
    padding: 20px 50px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    align-items: center;
    color: #acb6d4c7;
    width: 100%;
    border-radius: 20px;
  }

  .update-formation .formdetails {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .update-formation .formdetails .noms {
    padding: 10px 2px;
    font-size: 17px ;
    font-weight: 800;
    width: 20%;
  }

  .update-formation .formdetails .details {
    padding: 10px 2px;
    font-size: 16px ;
    font-weight: 400;
  }
  .update-formation  .input-y{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }

  .update-btn{
    background-color:  #5dea5bb2;
    cursor: pointer;
    color: #d5d9e6;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    transform: scale(1);
    transition: all .2s ease-in-out;
    text-align: center;

  }

.text-segs-formation {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #acb6d4e8;
     padding-top: 20px;
    padding-left:5%;
    text-transform: uppercase;
  }

  .update-btn:hover{
    transform: scale(0.95);
  }
  .delete-btn{
    background-color: #c62d44;
    cursor: pointer;
    color: #d7dbe9;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 80%;
    transform: scale(1);
    transition: all .2s ease-in;
    text-align: center;
  }
  .delete-btn:hover{
    transform: scale(0.96);

  }

  .update-formation  .input-y .input-desgn{
    font-size: 18px;
    border: 2px solid #acb6d463;
    height: 17px;
    color: #acb6d4;
    width: 100%;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 2px;
    letter-spacing: normal;
    word-spacing: normal;
}

 .text-foermation{
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #acb6d4;
    text-align: left;
    padding: 5px 5px;
  }

  .titleFormation{
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #acb6d4;
    text-align: left;
    padding: 5px 5px;
  }
  
  .formation-field-list h2{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #acb6d4;
    text-align: right;
  }

.res{
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 20px;
}

.tabs-title{
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 95%;
}

  

.tabs-content{
  width: 90%;
  height: 100%;
}
.content-tabs{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



.content-welcome{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0px 0px;
  background-color: transparent;
  height: 100%;
  width:100%;
  }

.contact-page{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px 0px;
  background-color: transparent;
  width:100%;
  height: 100%;
  transition: all 0.5s ease-out;
}


.contact-page .contact-animation{
  width:45%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.send-btn{
  color: #1b2137;
  background-color: #b2bce0dc;
  margin-top: 10px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  letter-spacing: 2px;
  cursor: pointer;
  transform: scale(1);
  -webkit-user-select: none;
  user-select: none;
  transition:  all .2s ease-in-out;
  box-shadow: 6px 10px 27px -13px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 10px 27px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 27px -13px rgba(0,0,0,0.75);
}


.contact-btn{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 20px;
  z-index: 100;
  background-color: #8795C5;
  color: #15192b;
  font-size: 20px;
  font-weight: 800;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition:  all .2s ease-in-out;
  transform: scale(1);
}

.contact-btn:hover {
  filter: brightness(1.3);
  transform: scale(1.12);
}

.send-btn:hover {
  filter: brightness(1.3);
  transform: scale(1.12);
}

.send-btn:active {
  filter: brightness(1.3);
  background-color: #57be71dc;
animation-delay: 0;

}



.input-x .vol{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:space-around ;
}

.vol .input-desgn{
  width: 100%;
}
.vol .input-y input {
  width: 90%;
}

.gradient{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  background-size: 100%;
  z-index: 5;
}

.gradient2{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to left , #252B42 15% ,#252b4200 70%);;
  background-size: 100%;
  z-index: 9;
}



.contact-page .contact-form{
  width: 40%;
  height:auto;
  display: flex;
  border: .6px solid #acb6d463;
  border-radius: 10px;
  padding: 25px 50px;
  margin: 15px 15px;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}



.contact-page .contact-form h1{
  color: #b2bce0;
  font-size: 35px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 20px;
  width: 100%;
  
}



.contact-page .contact-form .q-form{
  color: #acb6d4;
  font-size: 15px;
  overflow-wrap: break-word; 
  line-height: 1.8;
  font-weight: normal;
  margin-bottom:10px;
  letter-spacing: .2px;
  width: 75%;
}


.contact-page .contact-form p  {
  color: #acb6d4;
  font-size: 15px;
  margin-bottom:5px;
  width: 70%;
  display: flex;
  flex-direction: row;
  
}

::placeholder { 
  color: #acb6d4;
 background-color: transparent;
}

.form-Suggestions label{
  color: #acb6d4;
  font-size: 12px;
  width: 100%;
}


.contact-page .contact-form p span {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page .contact-form p span label {
  padding: 0px 15px;
}

.contact-form .form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 95%;
}
.contact-form .form-input .input-y {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 100%;
}

.contact-form .form-input  label{
  color: #acb6d4;
  font-size: 12px;
  margin-bottom:7px;
  height: 100%;
  width: 100%;
}

.input-desgn{
    font-size: 18px;
    border: 2px solid #acb6d463;
    height: 17px;
    color: #acb6d4;
    width: 100%;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 2px;
    letter-spacing: normal;
    word-spacing: normal;
}

.contact-form .form-input .input-x {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 5px;
  align-items: center;
}

.contact-form  .form-Suggestions{
  flex-grow: 4;
  width: 90%;
  display: flex;
  flex-direction: column;
}
  .content-welcome  .welcome-text{
    font-size: 15px;
    font-weight: 800;
    padding: 10px 20px;
    margin-top: 10%;
    margin-left: 50px;
    width: 40%;
    height: 60%;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(54, 66, 110, 0.08);
    border: 2px solid rgba(136, 140, 153, 0.17);
    backdrop-filter: blur(10px);
    z-index: 10;
  }

.welcome-text-btn {
  font-size: 17px;
  font-weight: normal;
  padding: 5px 20px;
  margin-top: 3%;
  margin-left: 25px;
  width: 100%;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(152, 154, 158, 0.08);
  border: 2px solid rgba(136, 140, 153, 0.17);
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(20px);
  color: #acb6d4;
  z-index: 10;
}


.btn-glass-text {
  font-size: 15px;
  font-weight: 600;
  padding: 5px  10px;
  text-transform: uppercase;
  margin-top: 5%;
  margin-left: 25px;
  width: 25%;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),100px 100px 80px rgba(0, 0, 0, 0.07);
  display: flex;
  cursor: pointer;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.039);
  border: 2px solid rgba(169, 173, 184, 0.17);
  backdrop-filter: blur(20px);
  color: #acb6d4;
  z-index: 12;
  animation-iteration-count: infinite;
  animation-duration:3s;
  animation-timing-function: cubic-bezier(0.850, 0.010, 0.585, 0.845);
  -webkit-animation-timing-function: cubic-bezier(0.850, 0.010, 0.585, 0.845);
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

  .content-welcome  .welcome-text h1{
    font-size: 40px;
    font-family: 'Space Mono', monospace;
    letter-spacing:6px;
    font-weight: 700;
    color: #acb6d4;
  }
  .content-welcome  .welcome-text h3{
    font-size: 30px;
    padding-top: 2%;
    font-weight: 500;
    color: #8795C5;
    text-transform: uppercase;
  }


    .leftA{
      flex: 1;
      
      top: 0;
      left: 0;
      width: 100%;
    }
  .content-welcome .welcome-animation{
   width:65% ;
   height: 100%;
   display: flex;
   justify-content: center;

   z-index: 10;
  }

  .content-welcome .welcome-animation .ani{
    width: 80% ;
    height: 90%;
    border-radius: 25px;
     background-color: rgba(255, 255, 255, 0.039);
  border: 2px solid rgba(169, 173, 184, 0.17);
  backdrop-filter: blur(20px);
    display: flex;
    justify-content: flex-end;
   }

.content-add{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2%;
  width: 85%;
  height: 50%;
  border-radius: 19px;
  transition: all 0.5s ease-in-out ;
  background-color: #1A2036;
}
.formas{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.wrap{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow-x:hidden;
}
.formation-rows{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10px 15px;
  height: 70px ;
  color: #8795C5;
  font-size: 15px;
  font-weight: 600;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out ;
  transform: scale(0.96);
  background-color: #1A2036;
  border-bottom: 4px solid #8795C5;
}
.formation-rows .noms {
  color: #8795C5;
  font-size: 20px;
  font-weight: 800;
  line-height: 3px;
  padding: 15px 15px;
  flex-grow: 3;
}
.formation-rows .for {
  color: #8795C5;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}
.formation-rows:hover{
  transform: scale(1);
  filter: brightness(1.2);
}

.conatct-field{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 40%;
  margin: 10px 10px;
  z-index: 20;
  border-radius: 20px;
  box-shadow: 6.7px 6.7px 9px rgba(0, 0, 0, 0.028),22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),100px 100px 80px rgba(0, 0, 0, 0.07);
  transition: all 0.5s ease-in-out ;
  background-color: #1A2036;
}

.conatct-field h1{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 15px;
    color: #acb6d4;
}

.conatct-field .text-segs {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #acb6d4e8;
  padding: 15px 15px;
  flex-grow: 4;
}
.conatct-field .content-contects {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  letter-spacing: 2px;
  color: #acb6d4c7;
  width: 100%;
  border-radius: 20px;
  background-color: #acb6d438;
}

.content-add:hover{
  background-color: #2E3650;
}
.content-add .title{
  padding:0px 20%;
  color: #8795C5;
  font-size: 15px;
}

.content-add .formation-logo{
  display: flex;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #242B42;
  padding-left: 3px 3px;
  border-radius: 2%;
  transition: all 0.5s ease
}

 .content-add .add-logo {
   stroke: #6a6f81;
   transition: all 0.5s ease-in-out ;
   display: flex;
   width:80px;
   height:80px;
  padding: 1px 1px;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
   background-color: transparent;
 }

.content-group .container {
  width: 100%;
  padding: 5px 20px;
  height: 95%;

}

.title-content{
  padding:10px 10px ;
  color: rgb(178, 186, 226);
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.quiz{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}



.review-title{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-self: start;
}
.review-title .title{
  padding-top: 10px;
  padding-left: 20%;
  color: #B1B9D8;
  font-size: 15px;
  font-weight: 800;
  width: 100%;
}

.question-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 5px 2px;
  padding: 5px 0px;
  border-radius: 30px;
  background-color: #1A2036;
}
.quiz-group .radio-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  margin: 5px 5px;
  padding: 5px 0px;
  border-radius: 20px;
  color: #B1B9D8;
  font-size: 15px;
  letter-spacing: 2px;
}

.label-radio{
  padding: 2px 10px;
}
.question{
  color: #B1B9D8;
  font-size: 15px;
  font-weight: 400;
  margin: 5px 20px;
  width: 100%;
}

.question h2 {
  padding-left:7%;
  color: #B1B9D8;
  font-size: 15px;
  font-weight: 400;
}




.btn-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}


.btn-form{
  border-radius: 25px;
  background-color: rgba(181, 185, 202, 0.096);
  border: 1px solid rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(30px);
  color: #B1B9D8;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 15px;
  margin: 15px 15px;
  cursor: pointer;
  transform: scale(1);
  transition:  all 0.3s ease-out;  
}

.btn-form:hover{
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgba(181, 185, 202, 0.096 );
}





.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}





















::-webkit-scrollbar {
  width: 15px;
height: 20px;
}


::-webkit-scrollbar-track {
  background: #242B42; 
}
 

::-webkit-scrollbar-thumb {
  background: #15192b; 
  border-radius: 15px; 
  border: 3px solid #242B42;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A2036; 
}